.hor-grid {
   display: grid;
   width: 700px;
   height: 100px;
   grid-template-columns: repeat(7, 1fr);
}

.ver-grid {
   display: grid;
   width: 100px;
   height: 700px;
   grid-template-rows: repeat(7, 1fr);
   flex-direction: column;
}

.red {
   background-color: red;
}

.orange {
   background-color: orange;
}

.yellow {
   background-color: yellow;
}

.green {
   background-color: green;
}

.skyblue {
   background-color: skyblue;
}

.blue {
   background-color: blue;
}

.purple {
   background-color: purple;
}
